.flag:before
{
    background: url('../images/flags.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    content: '';
    display: inline-block;
    margin-right: 0.4em;
    width: 18px;
    height: 14px;
}

.flag-pt_BR:before { background-position: 0 -14px; }
.flag-zh_CN:before { background-position: 0 -28px; }
.flag-cs:before { background-position: 0 -42px; }
.flag-de:before { background-position: 0 -56px; }
.flag-da:before { background-position: 0 -70px; }
.flag-es:before { background-position: 0 -84px; }
.flag-ca:before { background-position: 0 -98px; }
.flag-fi:before { background-position: 0 -112px; }
.flag-fr:before { background-position: 0 -126px; }
.flag-hu:before { background-position: 0 -140px; }
.flag-id:before { background-position: 0 -154px; }
.flag-fa:before { background-position: 0 -168px; }
.flag-it:before { background-position: 0 -182px; }
.flag-ja:before { background-position: 0 -196px; }
.flag-ko:before { background-position: 0 -210px; }
.flag-nl:before { background-position: 0 -224px; }
.flag-pl:before { background-position: 0 -238px; }
.flag-pt_PT:before { background-position: 0 -252px; }
.flag-ro:before { background-position: 0 -266px; }
.flag-srp:before { background-position: 0 -280px; }
.flag-ru:before { background-position: 0 -294px; }
.flag-sv:before { background-position: 0 -308px; }
.flag-sk:before { background-position: 0 -322px; }
.flag-tr:before { background-position: 0 -336px; }
.flag-zh_TW:before { background-position: 0 -350px; }
.flag-uk:before { background-position: 0 -364px; }
.flag-vi:before { background-position: 0 -378px; }
.flag-bg:before { background-position: 0 -392px; }
.flag-el:before { background-position: 0 -406px; }
.flag-lt:before { background-position: 0 -420px; }
.flag-sq:before { background-position: 0 -434px; }
.flag-sl:before { background-position: 0 -448px; }
.flag-he:before { background-position: 0 -462px; }
.flag-ta_IN:before { background-position: 0 -476px; }
.flag-th:before { background-position: 0 -490px; }
