---
layout: default
title: Imprint/Privacy Policy
---
		<div class="container_grey">
			<div class="wrap_content contentpage">
				<h1>Imprint/Privacy Policy</h1>
				<p>TortoiseGit.org is the official website for the TortoiseGit project which is maintained by the lead developer Sven Strickroth.</p>
				<p>As this is a private website for the TortoiseGit project with no interest in earning money or adventisments, no formal imprint is needed.</p>
				<p>eMail: sven (at) tortoisegit (dot) org (<a href="https://www.cs-ware.de/sven-FD515839.asc">PGP key fingerprint: 29BC C23B 1C15 355C 1D26 DBAB 165A CCB5 FD51 5839</a>)</p>
				<p><b>Important:</b> Do not send any TortoiseGit usage questions or improvement suggestions to the address above! They will be ignored. Use this address only in case of legal issues. For support please see our <a href="/support/">support pages</a>.</p>

				<h2>Privacy Policy</h2>
				<p>TortoiseGit.org neither uses cookies, tracks users nor includes any third party resources (such as ads, javascript, or CDN). However, all connections are encrypted in order to safeguard integrity and protect from eavesdropping.</p>
				<p>TortoiseGit.org stores so-called access-logs for every access containing the IP, referrer, requested ressource and user-agent. These information is only used for aggregated usage statistics as well as protecting the website (detecting abusive behavior and debugging errors). No other analysis takes place. The access-logs are automatically rotated and deleted.</p>
				<p>Apart from this, no other data is collected or stored. No data is shared with third parties.</p>
			</div>
		</div>
