---
layout: default
title: 403 - Forbidden
robotsNoIndex: true
---
		<div class="container_grey">
			<div class="wrap_content contentpage">
				<h1>Error 403: Forbidden</h1>
				<p>You don't have the permission to access this ressource.</p>
			</div>
		</div>

{%if site.url != "https://tortoisegit.org" %}
		<div class="container_white">
			<div class="wrap_content contentpage">
				<p><strong>The current stable version of TortoiseGit is: <a href="/tgit/{{site.version.long}}/">{{site.version.short}}</a></strong></p>
				<p>The latest preview releases can be found <a href="/tgit/previews/">here</a>.</p>
			</div>
		</div>
{% endif %}
