<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="{{site.layoutprefix}}/css/combined.min.css" type="text/css">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="{{site.layoutprefix}}/images/apple-touch-icon.png">
		{% capture title %}{% if paginator.page and paginator.page != 1 %}{{ page.title }} - Page {{ paginator.page }}{% else %}{{ page.title }}{% endif%}{% endcapture %}
		{%if site.url == "https://tortoisegit.org" %}
		<title>{% if page.title %}{{ page.title }} – {% endif %}TortoiseGit – Windows Shell Interface to Git</title>
		{% elsif page.layout == 'default' %}
		<title>{% if page.title %}{{ page.title }} – {% endif %}download.TortoiseGit.org</title>
		{% else %}
		<title>download.TortoiseGit.org – Index of {{ page.url }}</title>
		<script src="{{site.layoutprefix}}/download/sorttable.js"></script>
		{% endif %}
		<meta charset="utf-8">
		{% if page.layout == "main" %}
		<meta name="keywords" content="TortoiseGit,Download,Git,Windows,ShellExtension">
		{% endif %}
		{% if page.headeradd %}
		{{ page.headeradd }}
		{% endif %}
		<meta name="MSSmartTagsPreventParsing" content="TRUE">
		<meta name="copyright" content="TortoiseGit team">
		{% if page.robotsNoIndex %}
		<meta name="robots" content="noindex, follow">
		{% else %}
		<meta name="robots" content="index, follow">
		<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
		{% endif %}
	</head>
	<body>
	<div id=wrapper>
		<div id="container_headline">
			{% include menu.html %}
		</div>
