---
layout: default
title: Crash report for an unsupported version
robotsNoIndex: true
---
		<div class="container_grey">
			<div class="wrap_content contentpage">
				<h1>Crash report for an unsupported version</h1>

				<p>Thank you for reporting this crash. However, you are running an old, unsupported version of TortoiseGit.</p>
				<p>Your issue might already be fixed in our latest version.</p>
				<p>Please make sure that you use the latest version of TortoiseGit!</p>
				<p>Use the auto updater of TortoiseGit (TortoiseGit -&gt; About, check for updates...) or go to our <a href="/download/">download</a> page.</p>
			</div>
		</div>
