---
layout: default
title: In-Page-Error
robotsNoIndex: true
---
		<div class="container_grey">
			<div class="wrap_content contentpage">
				<h1>CrashReport: In-Page-Error</h1>

				<p>The crash was caused by an In-Page-Error. This can have several causes:</p>
				<ul>
					<li>Hard drive corruption: Check your hard-drive.</li>
					<li>Memory corruption: Check your memory for errors.</li>
					<li>If your repository is on a network share: don't do that or fix the network.</li>
				</ul>
				<p>We're sorry about this, however, there is nothing we can do about this.</p>
			</div>
		</div>
