{% include header.html %}

		<div class="container_seperator">
			{% if page.url == '/' %}
			<div class="wrap_content breadcrumbs">
				<a href="//tortoisegit.org/">TortoiseGit.org</a> | download.tortoisegit.org
			{% else %}
			<div class="wrap_content breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<a href="//tortoisegit.org/">TortoiseGit.org</a> | <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" itemprop="item"><span itemprop="name">download.tortoisegit.org</span></a><meta itemprop="position" content="0"></span>
				{% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
				{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
				{% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
				{% for i in (1..forLoopMaxInt) %}
								&raquo;
								{% assign j = forLoopMaxInt | plus: 0 %}
								{% if i == j %}
								Index of {{splitted_url_parts[i]}}
								{% else %}
								<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<a href="/{{splitted_url_parts[i]}}/" itemprop="item"><span itemprop="name">/{{splitted_url_parts[i]}}</span></a>
								<meta itemprop="position" content="{{i}}">
								</span>
								{% endif %}
				{% endfor %}
			{% endif %}
			</div>
		</div>

		<div class="container_grey">
			<div class="wrap_content contentpage">
				<h1>Index of {{ page.url }}</h1>


{{ content }}

			</div>
		</div>
	{% include footer.html %}
