{% include header.html %}

		<div class="container_seperator">
			<div class="wrap_content breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				{% if page.url == '/' %}
				<a href="//tortoisegit.org/">TortoiseGit.org</a> | download.tortoisegit.org
				{% else %}
				<a href="//tortoisegit.org/">TortoiseGit.org</a> | <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" itemprop="item"><span itemprop="name">download.tortoisegit.org</span></a><meta itemprop="position" content="0"></span>
				{% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
				{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
				{% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
				{% for i in (1..forLoopMaxInt) %}
					&raquo;
					{% assign j = forLoopMaxInt | plus: 0 %}
					{% if i == j %}
					Index of {{splitted_url_parts[i]}}
					{% else %}
					<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="/{{splitted_url_parts[i]}}/" itemprop="item"><span itemprop="name">/{{splitted_url_parts[i]}}</span></a>
					<meta itemprop="position" content="{{i}}">
					</span>
					{% endif %}
				{% endfor %}
				{% endif %}
			</div>
		</div>

		<div class="container_{% cycle 'grey', 'white' %}">
			<div class="wrap_content contentpage">
				<h1>Index of {{ page.url }}</h1>
<p><span class="diricon diricon-up"></span> <a href="../">Parent Directory</a></p>
{% if site.version.long != page.version %}
<p><strong>
<font color=red><svg width=".9em" height=".9em" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M1024 1375v-190q0-14-9.5-23.5t-22.5-9.5h-192q-13 0-22.5 9.5t-9.5 23.5v190q0 14 9.5 23.5t22.5 9.5h192q13 0 22.5-9.5t9.5-23.5zm-2-374l18-459q0-12-10-19-13-11-24-11h-220q-11 0-24 11-10 7-10 21l17 457q0 10 10 16.5t24 6.5h185q14 0 23.5-6.5t10.5-16.5zm-14-934l768 1408q35 63-2 126-17 29-46.5 46t-63.5 17h-1536q-34 0-63.5-17t-46.5-46q-37-63-2-126l768-1408q17-31 47-49t65-18 65 18 47 49z"/></svg> THIS (version {{page.versionshort | default:page.version}}) IS NOT THE CURRENT STABLE RELEASE!</font><br>
The current stable version is: <b><a href="/tgit/{{ site.version.long }}/">{{ site.version.short }}</a></b></strong></p>
{% else %}
<p><strong>This (version {{ site.version.short | default:page.version }}) is the current stable version of TortoiseGit.</strong></p>
{% endif %}
<p></p>

<p>For detailed info on what's new, read the <a href="//tortoisegit.org/docs/releasenotes/#Release_{% if page.hotfix %}{{ page.hotfix }}{% else %}{{ page.version }}{% endif %}">release notes</a>.</p>
<p><a href="//tortoisegit.org/support/faq/#prerequisites">FAQ: System prerequisites and installation</a>

{{page.versionhint}}

<p><strong><a href="//tortoisegit.org/donate/">Donate</a></strong></p>

{% if page.files[1].file contains "-64bit.msi" or page.files[2].file contains "-64bit.msi" or page.files[3].file contains "-64bit.msi" %}
<p>Please make sure that you choose the right installer for your PC, otherwise the setup will fail.</p>
<table class="downloadtable">
<tbody>
<tr>
<td><strong>for 32-bit Windows</strong></td>
<td><strong>for 64-bit Windows</strong></td>
{% if page.hasarm64 %}
<td><strong>for ARM64 Windows</strong></td>
{% endif %}
</tr>
<tr>
{% if page.hotfix %}
{% assign filename='TortoiseGit-' | append:page.hotfix | append:'-32bit.msi' %}<td><a href="{{ filename }}" rel="nofollow" class="dl">Download TortoiseGit {{ page.hotfix| default:page.hotfix }} 32-bit</a> ({% include func_filesize.html filename=filename %})</td>
{% assign filename='TortoiseGit-' | append:page.hotfix | append:'-64bit.msi' %}<td><a href="{{ filename }}" rel="nofollow" class="dl">Download TortoiseGit {{ page.hotfix| default:page.hotfix }} 64-bit</a> ({% include func_filesize.html filename=filename %})</td>
{% if page.hasarm64 %}
{% assign filename='TortoiseGit-' | append:page.hotfix | append:'-arm64.msi' %}<td><a href="{{ filename }}" rel="nofollow" class="dl">Download TortoiseGit {{ page.hotfix| default:page.hotfix }} ARM64</a> ({% include func_filesize.html filename=filename %})</td>
{% endif %}
{% else %}
{% assign filename='TortoiseGit-' | append:page.version | append:'-32bit.msi' %}<td><a href="{{ filename }}" rel="nofollow" class="dl">Download TortoiseGit {{ page.versionshort| default:page.version }} 32-bit</a> ({% include func_filesize.html filename=filename %})</td>
{% assign filename='TortoiseGit-' | append:page.version | append:'-64bit.msi' %}<td><a href="{{ filename }}" rel="nofollow" class="dl">Download TortoiseGit {{ page.versionshort| default:page.version }} 64-bit</a> ({% include func_filesize.html filename=filename %})</td>
{% if page.hasarm64 %}
{% assign filename='TortoiseGit-' | append:page.version | append:'-arm64.msi' %}<td><a href="{{ filename }}" rel="nofollow" class="dl">Download TortoiseGit {{ page.versionshort| default:page.version }} ARM64</a> ({% include func_filesize.html filename=filename %})</td>
{% endif %}
{% endif %}
</tr>
</tbody>
</table>
{% endif %}
{{page.versionhint2}}
<p></p>
<p>Before reporting an issue, please check that your problem isn't fixed in our latest <a href="/tgit/previews/">preview release</a>. Also see <a href="//tortoisegit.org/support/">What to do if a crash happened?</a></p>
			</div>
		</div>

{% if page.langs %}
		<div class="container_{% cycle 'grey', 'white' %}">
			<div class="wrap_content contentpage">
<h2 id="Language_Packs"><svg width=".9em" height=".9em" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M320 256q0 72-64 110v1266q0 13-9.5 22.5t-22.5 9.5h-64q-13 0-22.5-9.5t-9.5-22.5v-1266q-64-38-64-110 0-53 37.5-90.5t90.5-37.5 90.5 37.5 37.5 90.5zm1472 64v763q0 25-12.5 38.5t-39.5 27.5q-215 116-369 116-61 0-123.5-22t-108.5-48-115.5-48-142.5-22q-192 0-464 146-17 9-33 9-26 0-45-19t-19-45v-742q0-32 31-55 21-14 79-43 236-120 421-120 107 0 200 29t219 88q38 19 88 19 54 0 117.5-21t110-47 88-47 54.5-21q26 0 45 19t19 45z"/></svg> Language Packs</h2>
<p>The language packs contain no standalone localized version of TortoiseGit, you need TortoiseGit from above. Each language pack has a download size of 2-7 MiB.</p>
<p></p>
<table class="sortable downloadtable">
	<thead><tr><td><strong>Language</strong></td><td><strong>Code</strong></td><td class="completeness"><strong>Completeness</strong></td><td class="sorttable_nosort"><strong>32-Bit</strong></td><td class="sorttable_nosort"><strong>64-Bit</strong></td>{% if page.hasarm64 %}<td class="sorttable_nosort"><strong>ARM64</strong></td>{% endif %}</tr></thead>
	<tbody>
{% for lang_hash in page.langs %}
  {% for lang in lang_hash %}
	{% assign f = lang[0] %}
	{% assign filenamecode = site.data.lang_filenames[f] | default:f %}
	{% assign filename32='TortoiseGit-LanguagePack-' | append:page.version | append:'-32bit-' | append:filenamecode | append:'.msi' %}
	{% assign filename64='TortoiseGit-LanguagePack-' | append:page.version | append:'-64bit-' | append:filenamecode | append:'.msi' %}
	{% assign filenamearm64='TortoiseGit-LanguagePack-' | append:page.version | append:'-arm64-' | append:filenamecode | append:'.msi' %}
	<tr><td class="flag flag-{{ site.data.flags[f] | default:f }}">{{ site.data.langs[f] }}</td><td>{{ lang[0] }}</td><td class="right">{{ lang[1] }} %</td><td> <a href="{{filename32}}" rel="nofollow" class="dl" title="Download {{ site.data.langs[f] }} language pack for 32-bit, {% include func_filesize.html filename=filename32 nospan="true" %}">Setup</a> ({% include func_filesize.html filename=filename32 %})</td><td> <a href="{{filename64}}" rel="nofollow" class="dl" title="Download {{ site.data.langs[f] }} language pack for 64-bit, {% include func_filesize.html filename=filename64 nospan=true %}">Setup</a> ({% include func_filesize.html filename=filename64 %})</td>{% if page.hasarm64 %}<td> <a href="{{filenamearm64}}" rel="nofollow" class="dl" title="Download {{ site.data.langs[f] }} language pack for ARM64, {% include func_filesize.html filename=filenamearm64 nospan=true %}">Setup</a> ({% include func_filesize.html filename=filenamearm64 %})</td>{% endif %}</tr>
  {% endfor %}
{% endfor %}
</tbody></table>
			</div>
		</div>
{% endif %}

		<div class="container_{% cycle 'grey', 'white' %}">
			<div class="wrap_content contentpage">
<h2>All files</h2>
	<table class="sortable downloadtable">
		<thead><tr><td class="sorttable_nosort"></td><td><strong>Name</strong></td><td><strong>Last modified</strong></td><td><strong>Size</strong></td><!--<td><strong>Description</strong></td>--></tr></thead>
		<tbody>
{% for file in page.files %}
		{% assign ending = file.file | split:'.' | last %}
		<tr><td><span class="diricon diricon-{{ site.data.icons[ending] | default:'unknown'}}"></span></td><td><a href="{{file.file}}" rel="nofollow">{{file.file}}</a></td><td class="right">{% unless file.file contains page.version %}{{file.date | date:'%Y-%m-%d %H:%M'}}{% else %}{{page.releasedate | date:'%Y-%m-%d %H:%M'}}{% endunless %}</td><td class="right" sorttable_customkey="{{ file.size }}">{% include func_prettysize.html size=file.size %}</td><!--<td></td>--></tr>
{% endfor %}
		</tbody>
	</table>

			</div>
		</div>
<div style="display:none;">
<div itemscope itemtype="http://schema.org/SoftwareApplication">
<span itemprop="name">TortoiseGit</span>
<span itemprop="version">{{page.versionshort| default:page.version}}</span>
<span itemprop="url">https://tortoisegit.org/</span>
<span itemprop="image">https://tortoisegit.org/images/logo.png</span>
<span itemprop="requirements">https://tortoisegit.org/support/faq/#prerequisites</span>
<span itemprop="releaseNotes">https://tortoisegit.org/docs/releasenotes/#Release_{{page.version}}</span>
<span itemprop="operatingSystem">{{page.operatingsystem}}</span>
<span itemprop="processorRequirements">x64</span>
<span itemprop="processorRequirements">x86</span>
{% if page.hasarm64 %}
<span itemprop="processorRequirements">arm64</span>
{% endif %}
<span itemprop="applicationCategory">version control</span>
<span itemprop="storageRequirements">50MB</span>
<span itemprop="datePublished">{{page.releasedate|date:'%F'}}</span>
<span itemprop="fileFormat">application/x-msi</span>
</div>
</div>
	{% include footer.html %}
