---
layout: download
folders:
 - folder: previews
   date: 26-Jun-2016 19:16
 - folder: 2.17.0.0
   date: 30-Oct-2024 21:14
 - folder: 2.16.0.0
   date: 30-Apr-2024 20:55
 - folder: 2.15.0.0
   date: 03-Oct-2023 22:48
 - folder: 2.14.0.0
   date: 16-Apr-2023 11:17
 - folder: 2.13.0.0
   date: 07-Feb-2022 11:55
   comment: Requires Git (for Windows) &gt;= 2.24
 - folder: 2.12.0.0
   date: 31-Mar-2021 21:01
 - folder: 2.11.0.0
   date: 10-Oct-2020 15:44
 - folder: 2.10.0.0
   date: 01-Mar-2020 13:45
 - folder: 2.9.0.0
   date: 31-Oct-2019 16:37
 - folder: 2.8.0.0
   date: 28-Feb-2019 22:31
 - folder: 2.7.0.0
   date: 19-Aug-2018 15:22
   comment: Requires Git (for Windows) &gt;= 2.11
 - folder: 2.6.0.0
   date: 17-Feb-2018 16:55
 - folder: 2.5.0.0
   date: 23-Jul-2017 15:20
 - folder: 2.4.0.0
   date: 25-Feb-2017 18:00
   comment: last compatible version with Windows Vista
 - folder: 2.3.0.0
   date: 01-Oct-2016 23:22
 - folder: 2.2.0.0
   date: 02-Jul-2016 02:02
 - folder: 2.1.0.0
   date: 26-Mar-2016 02:17
 - folder: 2.0.0.0
   date: 29-Feb-2016 19:06
   comment: Requires Git (for Windows) &gt;= 1.9.5
 - folder: 1.8.16.0
   date: 01-Nov-2015 22:17
   comment: last compatible version with Windows XP
 - folder: 1.8.15.0
   date: 02-Aug-2015 23:16
 - folder: 1.8.14.0
   date: 08-Apr-2015 20:18
 - folder: 1.8.13.0
   date: 15-Feb-2015 17:47
 - folder: 1.8.12.0
   date: 25-Nov-2014 19:25
 - folder: 1.8.11.0
   date: 22-Aug-2014 16:41
 - folder: 1.8.10.0
   date: 12-Aug-2014 19:44
 - folder: 1.8.9.0
   date: 09-Jun-2014 23:34
 - folder: 1.8.8.0
   date: 01-Apr-2014 18:39
 - folder: 1.8.7.0
   date: 12-Jan-2014 19:23
 - folder: 1.8.6.0
   date: 20-Oct-2013 15:21
 - folder: 1.8.5.0
   date: 18-Aug-2013 19:53
 - folder: 1.8.4.0
   date: 09-Jul-2013 22:17
 - folder: 1.8.3.0
   date: 06-May-2013 17:06
 - folder: 1.8.2.0
   date: 26-Mar-2013 21:52
 - folder: 1.8.1.0
   date: 07-Feb-2013 23:53
 - folder: 1.8.0.0
   date: 27-Jan-2013 20:36
 - folder: 1.7.15.0
   date: 20-Nov-2012 22:03
 - folder: 1.7.14.0
   date: 14-Oct-2012 15:45
 - folder: 1.7.13.0
   date: 30-Sep-2012 14:42
 - folder: 1.7.12.0
   date: 10-Aug-2012 11:03
 - folder: 1.7.11.3
   date: 07-Jul-2012 05:59
 - folder: 1.7.11.0
   date: 02-Jul-2012 18:33
 - folder: 1.7.10.0
   date: 03-Jun-2012 14:53
 - folder: 1.7.9.0
   date: 05-May-2012 02:25
   comment: first version with UTF-8 support
 - folder: 1.7.8.0
   date: 01-Apr-2012 20:16
 - folder: 1.7.7.0
   date: 09-Feb-2012 15:58
 - folder: 1.7.6.0
   date: 10-Dec-2011 19:48
 - folder: 1.7.5.0
   date: 09-Nov-2011 12:18
 - folder: 1.7.4.0
   date: 10-Oct-2011 10:35
 - folder: 1.7.3.0
   date: 24-Aug-2011 17:36
 - folder: 1.7.2.0
   date: 08-Aug-2011 17:04
 - folder: 1.7.0.0
   date: 11-May-2011 09:17
 - folder: 1.6.5.0
   date: 21-Feb-2011 03:46
   comment: last compatible version with Windows 2000
 - folder: 1.6.4.0
   date: 14-Feb-2011 15:41
 - folder: 1.6.3.0
   date: 14-Jan-2011 13:39
 - folder: 1.6.2.0
   date: 22-Dec-2010 14:47
 - folder: 1.6.1.0
   date: 20-Dec-2010 06:42
 - folder: 1.6.0.0
   date: 17-Dec-2010 15:48
 - folder: 1.5.9.0
   date: 08-Dec-2010 14:52
 - folder: 1.5.8.0
   date: 02-Oct-2010 09:00
 - folder: 1.5.7.0
   date: 28-Sep-2010 11:17
 - folder: 1.5.6.0
   date: 25-Sep-2010 03:44
 - folder: 1.5.5.0
   date: 22-Sep-2010 17:54
 - folder: 1.5.3.0
   date: 22-Aug-2010 06:41
 - folder: 1.5.2.0
   date: 10-Jun-2010 09:42
 - folder: 1.4.4.0
   date: 14-Apr-2010 04:03
 - folder: 1.4.3.0
   date: 10-Apr-2010 11:53
 - folder: 1.4.2.0
   date: 06-Apr-2010 14:23
 - folder: 1.4.1.0
   date: 04-Apr-2010 11:59
 - folder: 1.4.0.0
   date: 31-Mar-2010 16:22
 - folder: 1.3.6.0
   date: 06-Feb-2010 04:03
 - folder: 1.3.5.0
   date: 03-Feb-2010 15:03
 - folder: 1.3.2.0
   date: 22-Jan-2010 05:17
 - folder: 1.3.1.0
   date: 19-Jan-2010 03:42
 - folder: 1.2.1.0
   date: 13-Nov-2009 05:44
 - folder: 1.1.1.0
   date: 13-Oct-2009 09:46
 - folder: 1.0.2.0
   date: 06-Sep-2009 07:01
 - folder: 1.0.1.0
   date: 29-Aug-2009 17:19
 - folder: 0.9.1.0
   date: 01-Aug-2009 07:26
 - folder: 0.8.1.0
   date: 03-Jul-2009 17:07
 - folder: 0.7.2.0
   date: 05-Jun-2009 16:40
 - folder: 0.7.1.0
   date: 04-Jun-2009 15:24
 - folder: 0.6.2.0
   date: 06-May-2009 15:38
 - folder: 0.6.1.0
   date: 02-May-2009 09:01
 - folder: 0.5.1.0
   date: 04-Apr-2009 06:04
 - folder: 0.4.2.0
   date: 08-Mar-2009 01:20
 - folder: 0.4.1.0
   date: 05-Mar-2009 15:28
 - folder: 0.3.3.0
   date: 08-Feb-2009 07:58
 - folder: 0.2.0.0
   date: 04-Jan-2009 15:58
 - folder: 0.1.0.0
   date: 12-Dec-2008 16:33
---
<table class="sortable downloadtable">
	<thead>
		<tr><td class="sorttable_nosort"></td><td><strong>Name</strong></td><td><strong>Last modified</strong></td><td><strong>Description</strong></td></tr>
		<tr><td><span class="diricon diricon-up"></span></td><td><a href="../">Parent Directory</a></td><td>&nbsp;</td><td>&nbsp;</td></tr>
	</thead>
	<tbody>
{% for folder in page.folders %}
		<tr><td><span class="diricon diricon-folder"></span></td><td><a href="{{folder.folder}}/">{{folder.folder}}/</a></td><td class="right">{{folder.date | date:'%Y-%m-%d %H:%M'}}</td><td>{% if folder.folder == 'previews' %}Development snapshots{% elsif folder.folder == site.version.long %}Latest stable release{% if folder.comment %}<br>{% endif %}{% endif %}{{folder.comment}}</td></tr>
{% endfor %}
	</tbody>
</table>
